<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PrescriptionUploadRootPath" value="App_Data\Prescriptions" />
    <add key="ReportExportRootPath" value="App_Data\Reports" />
    <add key="DefaultLowStockThreshold" value="10" />
    <add key="NearExpiryThresholdDays" value="30" />
    <add key="SessionTimeoutMinutes" value="20" />
    <add key="HashIterations" value="600000" />
    <add key="MaxFailedLoginAttempts" value="5" />
    <add key="LockoutDurationMinutes" value="15" />
    <add key="CustomerPinEnabled" value="false" />
  </appSettings>

  <connectionStrings>
    <add
      name="SmartMedDb"
      connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=SmartMedDb;Integrated Security=True;TrustServerCertificate=True;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
